<div class="container-fluid">
    <form method="POST" enctype="multipart/form-data">
        <h3 class="text-center">Edit device settings </h3>
        <input type="text" class="form-control" name="id" value="{{device['id']}}" hidden>
        <div class="form-group row">
            <label  class="col-lg-2 text-center">Device Name</label>
            <div class="col-lg-10">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="device_name" value="{{device['device_name']}}" required>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label  class="col-lg-2 text-center">IP/FQDN</label>
            <div class="col-lg-10">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="ip_fqdn" value="{{device['ip_fqdn']}}" required>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label  class="col-lg-2 text-center">Topology</label>
            <div class="col-lg-10">
                <select  class='selectpicker' name="topology" required>
                    {%for topology in topologies%}
                    {%if topology['topology'] == device['topology']%}
                    <option value="{{topology['topology']}}">{{topology['short_description']}}</option>
                    {%endif%}
                    {%endfor%}
                    {%for topology in topologies%}
                    <option value="{{topology['os_type']}}">{{topology['os_type']}}</option>
                    {%endfor%}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label  class="col-lg-2 text-center">OS Type</label>
            <div class="col-lg-10">
                <select  class='selectpicker' name="os_type" required>
                    <option value="{{device['os_type']}}">{{device['os_type']}}</option>
                    <option value="junos">junos</option>
                    <option value="vyos">vyos</option>
                    <option value="linux">linux</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-2 text-center ">Username</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" name="username" value="{{device['username']}}" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-2 text-center ">Password</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" name="password" value="{{device['password']}}" required>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="mr-auto ml-auto">
                    <a class="btn btn-secondary " href="/get_devices">Back</a>
                    <button type="submit" class="btn btn-success" name="ACTION" value="UPDATE">Submit Changes</button>
                    <button type="submit" class="btn btn-danger" name="ACTION" value="DELETE">Delete Test</button>
        
            </div>
        </div>
    </form>
</div>
