<div class="col-8">
    <h4>Choose Tests to Run</h4>
    <div class="btn-group" role="group" id="boxgroup">
        {% for group in groups | sort %}
        <div class="btn-group" role="group">
            <button id="btnGroupDrop2" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{group}}
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                {%for test in tests %}
                {% if test['group_name'] == group %}
                <div class="form-check dropdown-item">
                    {% if  test['test_status'] == 'APPROVED' %} {% set color = 'green' %}
                    {% else %} {% set color = 'red' %}
                    {% endif %}
                    <div>
                        <input type="checkbox" data-toggle="switch" data-on-color="success" data-off-color="success" data-on-text="<i class='fa fa-check'></i>" data-off-text="<i class='fa fa-times'></i>" name="_test_{{test['id']}}" id="{{test['id']}}" value="{{test['id']}}">
                        <label data-toggle="tooltip" data-placement="right" title="{{test['id']}}" data-container="body" data-animation="true" data-delay="100">
                            <span style="color: {{color}}"> {{test['test_name']}} </span>
                        </label>
                    </div>
                </div>
                {% endif %}
                {%endfor%}
            </div>
        </div>
        {%endfor%}
    </div>
    <p>Tested in <span style="color:red">RED</span> are under development. <span style="color:red">DO NOT SELECT</span> those tests if you are not a test developer</p>
    
    <p>I am a test developer <input type="checkbox" data-toggle="switch" data-on-color="success" data-on-text="YES" data-off-text="NO" name="DEVELOPER" VALUE="YES"></p>

    <hr>
</div>