<div class="col-8">
    <h4>Choose Test Type</h4>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary  active">
        <input type="radio" name="test_type" id="option1" autocomplete="off" value="functionality" checked> Funcionality Test
    </label>
    <label class="btn btn-secondary">
        <input type="radio" name="test_type" id="option2" autocomplete="off" value="performance">  Performance Test
    </label>
    <label class="btn btn-secondary">
        <input type="radio" name="test_type" id="option3" autocomplete="off" value="regression">  Regression Test
    </label>
    <label class="btn btn-secondary">
        <input type="radio" name="test_type" id="option4" autocomplete="off" value="penetration">  Penetration Test
    </label>
</div>
</div>